# This file is part of Astarte.
#
# Copyright 2025 SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Publish Docker images
on:
  workflow_call:
env:
  IMAGE: ghcr.io/${{ github.repository_owner }}/astarte-message-hub
jobs:
  push_release_to_registry:
    name: Push Docker images to registry
    runs-on: ubuntu-22.04
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    strategy:
      fail-fast: true
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Log in to registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@a60f0f62b5c12316066c8db464bfb2faafd7907b
        with:
          images: ${{ env.IMAGE }}
          tags: |
            type=semver,pattern={{version}}
      - name: Build and push tagged Docker image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          file: scripts/docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
